body {
  background-color: rgb(60, 60, 60);
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(240, 240, 240, 0.8);
  font-family: 'Indie Flower', sans-serif;
  margin: 0;
}

.page {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.arrival {
  text-align: center;
  display: inline-block;
}

.arrival__title {
  font-weight: normal;
}

.progress {
  box-sizing: border-box;
  height: 200px;
  padding: 40px 10px;
  position: relative;
  width: 200px;
}

.progress__percent {
  font-size: 3em;
  margin: 0;
  line-height: 1;
}

.progress__date {
  font-size: 1.4em;
  margin: 0.5em;
  line-height: 1;
}

.progress__weeks {
  margin: 0.5em;
  line-height: 1;
}

#progress {
  left: 0;
  position: absolute;
  top: 0;
}

#progress circle {
  stroke-width: 1em;
  stroke: rgba(240, 240, 240, 0.1);
}

#progress #bar {
  stroke: rgba(240, 240, 240, 0.5);
}
