body {
  margin: 0;
}

.page {
  align-items: center;
  background-color: $bgColor;
  background-size: cover;
  color: $fgColor;
  display: flex;
  font-family: 'Indie Flower', sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  width: 100vw;
}
