.progress {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  padding: 40px 10px;
  position: relative;
  width: 300px;

  &__percent {
    font-size: 3em;
    margin: 0;
    line-height: 1;
  }

  &__date {
    font-size: 1.4em;
    margin: 0.5em;
    line-height: 1;
  }

  &__weeks {
    margin: 0.5em;
    line-height: 1;
  }

  &__chart {
    left: 0;
    position: absolute;
    top: 0;
  }
}
